
<footer class="footer">
    <div class="footer-content">
      <p class="footer-title-social-networks"><i>Наші соцмережі</i></p>
      <div class="social-networks">
        <img onclick="location.href='https://t.me/+lqKVVitsktxhNTYy'"  src="/icons/free-icon-telegram-3670070.png" alt="Телеграм"  class="footer-social-networks-1">
        <img onclick="location.href='https://www.instagram.com/_zhen41kc_/saved/?next=%2FЭ'" src="/icons/free-icon-instagram-3955024.png" alt="Інстаграм" class="footer-social-networks-2">
      </div>

       <div class="footer-box-number-phone">
        <p class="footer-title-number-phone"><i>Контакти</i></p>
       <div class="footer-number-phone-1">
        <img class="footer-icons-phone-1" src="/icons/icon-phone-call-4029932.png" >
       <a href="tel:+380655789341" class="number-phone"> : +38 (065) 578-93-41</a>
       </div> 
       <div class="footer-number-phone-2">
        <img class="footer-icons-phone-1" src="/icons/icon-phone-call-4029932.png" >
       <a href="tel:+380988522209" class="number-phone"> : +38 (098) 852-22-09</a>
       </div> 
      </div>
    </div>
      <div class="footer-content-text">
        <% let year = new Date().getFullYear() %>
        <p>Sapori di Italia - Ресторан італійської кухні. Доставка їжі, Київ © <%= year %></p>
      </div>
</footer>
