
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


 @font-face {
    src: url('../fonts/DancingScript-Bold.woff2') format('woff2');
    font-family: "Dancing Script";
    font-optical-sizing: auto;
    font-weight: 400;

    font-style: normal;
 }

 :root {
    --font-family-base: 'Dancing Script', sans-serif;
 }


 body {
    margin: 0;
    justify-content: center; 
    background-color: rgb(255, 255, 255); 
    background-image: url(../images/there-is-black-white-photo-person-holding-tennis-racket-generative-ai_1035767-4761.png);
    background-size: cover;
    background-position: center;
}


  .main {
    position: absolute;
    top: 70%; 
    left: 50%; 
    background-color: #F5F5DC;
    height: 140%;
    width: 60%;
    overflow-y: auto; 
    justify-content: space-between;
    align-items: end;
     transform: translate(-50%, -50%); 
}


 .main-title {
    display: flex; 
    padding-top: 15%;
    justify-content: center; 
    align-items: center;
    color: #353333;
    font-family: var(--font-family-base);
    font-weight: 600;
    background: linear-gradient(to right, transparent 10%, #353333 50%, transparent 90%);
    background-size: 50% 2px; 
    background-position: bottom;
    background-repeat: no-repeat;
 }

 .profile-inform-1 {
    padding-top: 5%;
    padding-left: 1%;
    align-items: center;
    color: #353333;
    font-weight: 600;
 }

 .profile-inform {
    padding: 1%;
    align-items: center;
    color: #353333;
    font-weight: 600;
 }

 .btn-profile {
    width: 210px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #a3093d;
    font-family: var(--font-family-base);
    font-weight: 800;
    color: #fff;
    cursor: pointer;
 }

 .div-btn-profile {
    padding-top: 2%;
    padding-left: 1%;
    align-items: center;
 }

 .main-title-2 {
    display: flex; 
    padding-top: 10%;
    justify-content: center; 
    align-items: center;
    color: #353333;
    font-family: var(--font-family-base);
    font-weight: 600;
    background: linear-gradient(to right, transparent 10%, #353333 50%, transparent 90%);
    background-size: 40% 1px; 
    background-position: bottom;
    background-repeat: no-repeat;
 }


.line {
    position: absolute;
    align-items: center;
    justify-content: space-between;
    top: 141%;
    left: 50%; 
    background-color: #424242;
    height: 2%;
    width: 60%;
    transform: translate(-50%, -50%); 
}



@media (max-width: 768px) {
    .main {
        height: 140%;
        width: 80%;
    }

    .line {
        height: 2%;
        width: 80%;
    }
    
}

@media (max-width: 720px) {
   .breadcrumb {  
    padding-top: 30%;
   }

   .main-title {
      padding-top: 30%;
    }
}


@media (max-width: 500px) {
    .main {
        height: 140%;
        width: 100%;
    }


    .line {
        height: 2%;
        width: 100%;
    }

    body {
        background-image: none;
    }


    .breadcrumb {  
      padding-top: 32%;
    }

    .main-title {
      padding-top: 20%;
    }

    .main-img-content {
      width: 300px;
    }

    .main-content-pizza-cost {
        margin-top: 20%;
     }

}



  