<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sapori di Italia</title>
    <link rel="stylesheet" href="../css/about-us.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="icon" href="icons/icon.png">
    <script src="../js/menu.js" defer></script>
    <script src="/js/cart_menu.js" defer></script>
    <script src="/js/order.js" defer></script>
</head>
<body>
    <%- include('../includes/header') %>
      
    <main class="main">
       
      <div class="content-box-1">
      <img src="../images/team_restoranny.png" alt="Команда Власників" class="img-content-1">
      </div>
      <article class="first-intro-section">
      <h1 class="first-intro-section-h1"><u><i>Про нас</i></u></h1>
      <p class="first-intro-section-text"><i>Ласкаво просимо до нашого онлайн-сервісу доставки італійської їжі!
        Ми — команда, яка закохана в справжню італійську кухню та прагне приносити її до вашого столу, не виходячи з дому.</i></p>
      </article>

      <div class="content-box-2">
      <img src="../images/pizza-fon2.png" alt="Найсвіжіші продукти" class="img-content-2">
      </div>
      <article class="second-intro-section">
        <p><i>Наші страви готуються з найсвіжіших інгредієнтів, відповідно до традиційних рецептів, щоб кожен шматочок був сповнений смаку та аромату Італії.
          Ми знаємо, що кожен хоче насолоджуватися смачною їжею без турбот, тому ми робимо все можливе, щоб забезпечити швидку та надійну доставку. 
          Наші кур'єри доставлять ваше замовлення гарячим і свіжим, прямо до дверей. Завдяки широкому асортименту — від піци та пасти до десертів і аперитивів — кожен знайде щось для себе. 
          Наше прагнення — не просто доставити їжу, а створити атмосферу справжнього італійського обіду, навіть якщо ви вдома або в офісі.</i>
        </p>
      </article>
    
      
      <div class="content-box-3">
      <img src="../images/pizza-fon.png" alt="Святковий італійськик стол" class="img-content-3">
      </div>
      <article class="third-intro-section">
        <p><i>Відчуйте смак Італії в кожному кусочку, незалежно від того, де ви знаходитесь.
       Приєднуйтесь до нас, і разом ми зробимо кожен обід справжнім святом!</i></p>
      </article>
    
     </main>
 
      <div class="line"></div>

      <%- include('../includes/footer') %>
      
</body>
</html>